@use 'fonts';

$primary-color: #ffffff;
$secondary-color: #ff6db3;
$accent-color: #ffb0f7;
$body-text-color: #000000;
$heading-font-family: 'outfit';
$body-font-family: 'outfit';
$base-font-size: 70px;
$secondary-font-size: 30px;