#logo,
nav a {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

#hamburger, #close {
    font-size: 32px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 15px;
}

.overlay {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.overlay.open {
    display: flex;
    margin-right: 16px;
}

#close {
    position: absolute;
    margin-right: 16px;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
}

.overlay ul {
    list-style-type: none;
    text-align: center;
}

.overlay li {
    margin: 20px 0;
}

.overlay a {
    color: white;
    font-size: 32px;
    text-decoration: none;
}

.overlay a:hover {
    color: #2e3ecd;
}

@media screen and (min-width: 412px) {
    nav {
        display: block;
    }

    #hamburger {
        display: block;
    }

    .overlay {
        display: none;
    }

    .overlay.open {
        display: flex;
    }

    #dt-nav {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #menu-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #logo {
        margin-right: auto;
    }

    .overlay {
        display: none; 
    }

    #hamburger {
        display: none; 
    }

    nav a {
        margin-left: 20px; 
        font-size: 18px; 
    }

    #dt-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #dt-nav nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #dt-nav nav ul li {
        margin-left: 20px;

        a {
            text-decoration: none;
            color: white;
            transition: color 0.3s ease, background-color 0.3s ease;
        }

        &#buy-container {
            a {
                background-color: #2e3ecd;
                padding: 5px 15px;
                border-radius: 30px;
            }

            a:hover {
                background-color: rgb(14, 14, 155);
                color: white;
            }
        }
    }

    #dt-nav nav ul li a:hover {
        color: #2e3ecd;
    }
}
