header {
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.9);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%; 
    box-sizing: border-box;
}

#menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    align-items: center;
}

#logo {
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-decoration: none; 
}