#xray {
  position: relative;
  aspect-ratio: 16/10;
  background-image: url(../images/earbud-x-ray.jpg);
  background-size: cover;
}

#divisor {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/earbud-x-ray-full.jpg);
  background-size: cover;
  width: 85%;
  height: 100%;
}

#comparison-con {
  display: none;
}

@media screen and (min-width: 1200px) {

  #mobile-tablet-view {
    display: none;
  }

  #comparison-con {
    display: block;
  }

  input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: -18px;
    left: -2%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 102%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-moz-range-track {
    height: 15px;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    outline: none;
  }

  input[type=range]:active {
    border: none;
    outline: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 15px;
    background: #fff;
    border-radius: 0;
  }

  input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 15px;
    background: #fff;
    border-radius: 0;
  }

  input[type=range]:focus::-webkit-slider-thumb {
    background: rgba(255, 255, 255, 0.5);
  }

  input[type=range]:focus::-moz-range-thumb {
    background: rgba(255, 255, 255, 0.5);
  }

}