.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    bottom: 2px;
    left: 20px;
    color: white;
    font-size: 2rem;
    text-align: left;
    padding: 10px;
}
